*.a
*.o
*.obj
*.exe
*.map
*.lib

nspark
sqsh
testpack

# CMake temp files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
Makefile

# Ninja build files
.ninja_deps
.ninja_log
build.ninja
rules.ninja

# MSVC project files
win32/Debug
win32/Release
Debug
Release
nspark.dir/
nspark.*sdf
nspark.sln
*.vcxproj*
*.suo
*.ilk
*.pdb
